.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
    margin: 0;
}

/* Header */
.header {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 100%;
}

.grass {
    min-height: 15px;
    background-image: url('../data/images/grass.png');
    background-repeat: repeat;
    background-size: 96px 15px;
}

.header h1 {
    z-index: 2;
}

#logo {
    margin-right: 1rem;
    z-index: 2;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-family: "Press Start 2P", system-ui;
}

#clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
}

/* Main */
#server-list {
    min-height: 80vh;
}

main {
    background-image: url('../data/images/dirt.png');
    background-repeat: repeat;
    background-size: 64px 64px;
    padding: 1rem;
    margin: 0;
}

/* Footer */
footer {
    background-image: url('../data/images/bedrock.png');
    background-repeat: repeat;
    background-size: 64px 64px;
    padding: 1rem;
    margin: 0;
}

footer p {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 0.25rem;
}